<template>
  <section
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="about"
  >
    <div class="w-100">
      <h1 class="mb-0">
        {{ firstName }}
        <span class="text-primary">{{ lastName }}</span>
      </h1>
      <div class="subheading mb-5">
        {{ address }} · {{ contactNumber }} ·
        <a :href="email">{{ email }}</a>
      </div>
      <p class="lead mb-5">
        {{ bio }}
      </p>
      <div class="social-icons">
        <a :href="linkedInLink" target="_blank">
          <i class="fab fa-linkedin-in"></i>
        </a>
        <a :href="gitlabLink" target="_blank">
          <i class="fab fa-gitlab"></i>
        </a>
        <a :href="mediumLink" target="_blank">
          <i class="fab fa-medium"></i>
        </a>
        <a :href="fbLink" target="_blank">
          <i class="fab fa-facebook-f"></i>
        </a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "About",
  data() {
    return {
      firstName: "Mohaiminul",
      lastName: "Islam",
      address: "House 5, Road 5, Gulshan-1, Dhaka 1212",
      contactNumber: "(880) 1714460390",
      email: "mohaiminul.sust@gmail.com",
      bio: "Curious and always up for learning something new and stretch in a different direction. Love to build solutions using upgraded technology stacks. I write clean, reusable and maintainable code for iOS Native Apps using Cocoa and Swift also for both client and server side web apps using Django (Python), Laravel (PHP, Client/Server), Vue / React (JS, Client), Express & Adonis (JS, Server). Have grown a knack for problem solving and working under tight schedules",
      linkedInLink: "https://www.linkedin.com/in/mohaiminul-islam-46270b101/",
      gitlabLink: "https://gitlab.com/mohaiminul-sust",
      mediumLink: "https://medium.com/@mohaiminul.sust",
      fbLink: "https://www.facebook.com/shreadminion",
    };
  }
};
</script>
