<template>
  <section
    class="resume-section p-3 p-lg-5 d-flex align-items-center"
    id="certifications"
  >
    <div class="w-100">
      <h2 class="mb-5">Publications &amp; Certifications</h2>
      <ul class="fa-ul mb-0">
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Google Analytics Certified Developer
        </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          Mobile Web Specialist - Google Certification
        </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup> Place - University of Colorado Boulder - Emerging Tech
          Competition 2009
        </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup> Place - University of Colorado Boulder - Adobe Creative
          Jam 2008 (UI Design Category)
        </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          2<sup>nd</sup> Place - University of Colorado Boulder - Emerging Tech
          Competition 2008
        </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          1<sup>st</sup> Place - James Buchanan High School - Hackathon 2006
        </li>
        <li>
          <i class="fa-li fa fa-trophy text-warning"></i>
          3<sup>rd</sup> Place - James Buchanan High School - Hackathon 2005
        </li>
      </ul>
    </div>
  </section>
</template>

<script>
export default {
  name: "Certifications"
};
</script>
