<template>
  <div id="app">
    <router-view />
    <NavBar />
    <div class="container-fluid p-0">
      <About />
      <hr class="m-0" />
      <Experience />
      <hr class="m-0" />
      <Education />
      <hr class="m-0" />
      <Skills />
      <hr class="m-0" />
      <Interests />
      <hr class="m-0" />
      <Certifications />
    </div>
  </div>
</template>

<script>
import NavBar from "@/components/NavBar.vue";
import About from "@/components/About.vue";
import Experience from "@/components/Experience.vue";
import Education from "@/components/Education.vue";
import Skills from "@/components/Skills.vue";
import Interests from "@/components/Interests.vue";
import Certifications from "@/components/Certifications.vue";

export default {
  name: "App",
  components: {
    NavBar,
    About,
    Experience,
    Education,
    Skills,
    Interests,
    Certifications
  }
};
</script>
